<% if logged_in? %>
<h1> 42 </h1>

<p> <%= link_to("Retour à la question de l'univers", root_path) %> </p>

<% else %>

<p> Login mon petit pour voir la réponse, petit curieux </p>

<p> <%= link_to "Log in", login_path, class: "btn btn-success" %> </p>

<% end %>